
  
  .styles-module_whatsappButton__tVits {
    bottom: 4em !important;
  }

  .styles-module_whatsappChatBox__MdQ5U{
    bottom: 23em !important;
  }

  .styles-module_floatingWhatsapp__yWF5K{
    text-align: -webkit-right !important;
  }