@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800;1000&family=Quicksand:wght@600&family=Roboto&display=swap');

.footer {
    background-color: #17191e;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    border-top: 2px solid black;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.footer-section {
    display: flex;
    flex-direction: column;
    
    flex: 1;
    min-width: 250px;
    margin: 10px;
}

.footer-heading {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-text {
    font-size: 1rem;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin: 5px 0;
}

.footer-social{
    display: flex;
    align-items: center;
}

.footer-social-links{
    display: flex;
    gap: 10px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #157347;
}

.footer-contact {
    text-align: left;
}

.footer-contact p {
    margin: 5px 0;
}
/* Responsive Design */
@media screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column;
    }

    .footer-section {
        width: 100%;
    }

    .footer-social {
        margin-top: 10px;
    }
}


.footer-bottom {
    text-align: left;
    font-size: 0.9rem;
    padding: 10px 20px;
    border-top: 1px solid #444;
}

[data-theme="dark"] .footer {
    border-top: 2px solid black;
    background: #17191e;
    color: white;
}
[data-theme="light"] .footer {
    border-top: 2px solid #583d83;
    background: black;
    color: white;
}


[data-theme="light"] .footer-links a {
    color: black;
}

[data-theme="light"] .footer-links a:hover {
    color: #157347;
}

.footer-contact-link{
    text-decoration: none;
    color: white;
    font-weight: bold;
}